:root {
  --color-link: #2196f3;
  --color-container: #2f303a;
  --color-team: #f5f4fa;
  --font--primary: "roboto";
  --color-page: #e5e5e5;
  --color-header: #ffffff;
  --font-primary: "roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --font-style: "normal";
  --color-contact: #757575;
}

body {
  background-color: var(--color-page);
  font-family: var(--font--primary);
  width: 1600px;
  height: 2410px;
  top: -1175px;
  left: -1704px;
}
.top-box {
  background-color: var(--color-header);
  font-family: var(--font--primary);
  font-style: var(--font-style);
}
.contenedor-principal {
  background-color: var(--color-container);
}
.dedicamos {
  background-color: var(--color-page);
}
.team {
  background-color: var(--color-team);
}
.bottom-box {
  background-color: var(--color-container);
}
.name {
  color: var(--color-link);
  font-family: var(--font-primary);
  weight: 700;
  font-size: 26px;
  line-height: 2em;
}
.link {
  color: black;
  font-family: var(--font--primary);
  weight: 500;
  font-size: 14px;
  line-height: 1em;
}
.link:hover {
  color: var(--color-link);
}
.contact-links {
  color: var(--color-contact);
  font-family: var(--font-primary);
  weight: 500;
  font-size: 14px;
  line-height: 1em;
  letter: 2%;
}
