:root {
  --color-link: #2196f3;
  --color-container: #2f303a;
  --color-team: #f5f4fa;
  --font--primary: "roboto";
  --color-page: #e5e5e5;
  --color-header: #ffffff;
  --font-style: "normal";
  --color-contact: #757575;
}

body {
  font-family: "roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: #e5e5e5;
  font-size: 14px;
}

.top-box {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background-color: #ffffff;
}

.Webstudio {
  font-family: "Raleway";
  color: var(--color-link);
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}

.list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}

.Estudio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.Portafolio {
  position: absolute;
  width: 65px;
  height: 16px;
  left: 552px;
  top: 32px;
}
.Contactos {
  position: absolute;
  width: 67px;
  height: 16px;
  left: 667px;
  top: 32px;
}
.mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
}
.phone {
  position: absolute;
  width: 118px;
  height: 16px;
  left: 1263px;
  top: 32px;
}

.link:hover {
  color: var(--color-link);
}
.name-list:hov {
  color: var(--color-link);
}

.contact-links {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.9;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  list-style: none;
}
.contact-links:hover {
  color: var(--color-link);
}
/*
.contenedor-principal {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: -4px;
  top: 80px;
  background-color: var(--color-container);
}
*/
.primary-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 448px;
  top: 280px;
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.primary-button {
  color: white;
  background-color: #2196f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  position: absolute;
  width: 261px;
  height: 50px;
  left: 666px;
  top: 430px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
.link-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  text-decoration: none;
}
/*
.team {
  background-color: #f5f4fa;
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1510px;
}
.bottom-box {
  background-color: #2f303a;
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2158px;
}
*/
